<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/test" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.demo" />
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>
			</props>
		</property>
	</bean>
	<bean id="hibernateDaoImpl" class="com.demo.dao.HibernateDaoImpl">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="person" class="com.demo.Person">
		<constructor-arg value="1" type="int" name="id"></constructor-arg>
		<constructor-arg value="Mary" type="String" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<constructor-arg ref="address"></constructor-arg>
		<constructor-arg name="taxId" value="999"></constructor-arg>
	</bean>

	<bean id="address" class="com.demo.Address">
		<constructor-arg value="2" type="int" name="id"></constructor-arg>
		<constructor-arg value="51069" type="String" name="plz"></constructor-arg>
	</bean>

</beans>
