<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="person" class="com.demo.Person">
		<constructor-arg value="1" type="int" name="id"></constructor-arg>
		<constructor-arg value="Mary" type="String" name="name"></constructor-arg>
		<property name="taxId" value="123"></property>
		<constructor-arg ref="address"></constructor-arg>
		<constructor-arg name="taxId" value="999"></constructor-arg>
	</bean>

	<bean id="address" class="com.demo.Address">
		<constructor-arg value="2" type="int" name="id"></constructor-arg>
		<constructor-arg value="51069" type="String" name="plz"></constructor-arg>
	</bean>
	
</beans>
